<!DOCTYPE html>
<html>
<head>
	<title>{{book.title}} Information</title>
	<link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
	<ul>
		<li><a href="{{url_for('bookList')}}">Home</a></li>
		<li><a href = '{{url_for('newBook')}}'>Add New Book</a></li>
		<li><a href="{{url_for('forumList')}}">Forums</a></li>
		<li style="float: right;"><a href="{{url_for('userPage', user_id = user.id)}}">{{user.name}}</a></li>
	</ul>
	<h1>{{book.title}}</h1>

	<a href='{{url_for('editBook', book_id = book.id) }}'>Edit Book</a>
	<br>
	<a href="{{url_for('deleteBook', book_id = book.id)}}">Delete Book</a>
	<br>
	<p>
		<img src="{{book.picture}}" style="width:200px;height:275px; ">
			
		<br>
		Author: {{book.author}}
		<br>
		Subject: {{book.subject}}
		<br>
		Summary: {{book.summary}}
		<br>
		Added by: {{creator.name}}
	</p>
	<br>
	<a href="{{url}}">Buy Book</a>
	<br>

</body>
</html>