<!DOCTYPE html>
<html>
<head>
	<title>{{book.title}} Information</title>
	<link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
	<h1>{{book.title}}</h1>

	<a href="{{url_for('bookList')}}">Book List</a>
	<br>
	<a href='{{url_for('editBook', book_id = book.id) }}'>Edit Book</a>
	<br>
	<p>
		<img src="{{book.picture}}" style="width:200px;height:275px; ">
			
		<br>
		Author: {{book.author}}
		<br>
		Subject: {{book.subject}}
		<br>
		Category: {{book.category}}
		<br>
		Summary: {{book.summary}}
	</p>
	<br>
	<a href="{{url}}">Buy Book</a>
	<br>

</body>
</html>