<!DOCTYPE html>
<html>
<head>
	<title>Book Review Web App Main Page</title>
	<link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
	<ul>
		<li><a class="active" href="{{url_for('bookList')}}">Home</a></li>
		<li><a href = '{{url_for('newBook')}}'>Add New Book</a></li>
		<li><a href="{{url_for('forumList')}}">Forums</a></li>
		<li><a href="{{url_for('userPage', user_id = user.id)}}">{{user.name}}</a></li>
	</ul>

{% with messages = get_flashed_messages() %}
	{% if messages %}
			{% for message in messages %}
				<li><strong>{{message}}</strong></li>
			{% endfor %}
	{% endif %}
	{% endwith %}
	<br>
	
	<h1>Books</h1>

	{% for book in books %}
	<h3>
	<a href='{{url_for('bookInformation', book_id = book.id) }}'book.title</a>
	{{book.title}}
	</h3>
	<a href='{{url_for('editBook', book_id = book.id) }}'>Edit</a>
	<br>
	<a href='{{url_for('deleteBook', book_id = book.id) }}'>Delete</a>
	<br>
	<br>
	{% endfor %}
	
</body>
</html>