<!DOCTYPE html>
<html>
<head>
	<title>Forums Main Page</title>
</head>
<body>
	<h1>Forums</h1>
	<h2>
		<a href="{{url_for('login')}}">Login</a>
		<br>
		<a href = '{{url_for('bookList')}}'>Book List</a>
	</h2>
<form action="{{url_for('forumList')}}" method="post">
	<p>
		New Forum: <input type="text" name="newForum">
		<br>
		Book:
		<br>
		{% for book in books %}
		 <input type="checkbox" name = "books" value="{{book.id}}">{{book.title}}<br>
		{% endfor %}
		<input type="submit" name="subimt">
	</p>
</form>


	{% for forum in forums %}
	<p>
	<a href='{{url_for('forum', forum_id = forum.id) }}'>{{forum.title}}</a>
	
	<br>
	<a href='{{url_for('deleteForum', forum_id = forum.id) }}'>Delete</a>
	<br>
	</p>
	{% endfor %}

	<h3>Books:</h3>
	{% for book in books %}
	{{book.title}}:
	
	<br>
	{% endfor %}
	
</body>
</html>