<!DOCTYPE html>
<html>
<head>
	<title>Book Review Forum</title>
	<link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
	<ul>
		<li><a href="{{url_for('bookList')}}">Home</a></li>
		<li><a href = '{{url_for('newBook')}}'>Add New Book</a></li>
		<li><a  href="{{url_for('forumList')}}" class="active">Forums</a></li>
		<li><a href="{{url_for('userPage', user_id = user.id)}}">{{user.name}}</a></li>
	</ul>
	<h1>{{forum.title}}</h1>
	<form action="{{url_for('forum', forum_id = forum.id)}}" method="post">
		<textarea name="content" id="content" rows="10" cols="65"></textarea>
		<br>
		<input type="submit" name="submit">
		<br>
		{% for forumPost in forumPosts %}
		<div id="forumContent">
		{{forumPost.content}}
		{% for user in users %}
		{% if forumPost.user_id == user.id %}
		<div id="forumDateTime">{{user.name}} <br>{{forumPost.time.strftime("%Y-%m-%d %H:%M:%S")}} </div>
		{% endif %}
		{% endfor %}
		</div>
		{% endfor %}
	</form>
</body>
</html>

<!--
			
-->
