<!DOCTYPE html>
<html>
<head>
	<title>Add New Books to the Web App</title>
	<link rel="stylesheet" type="text/css" href="/static/styles.css">
	</head>
	<body>
		<ul>
			<li><a href="{{url_for('bookList')}}">Home</a></li>
			<li><a href = '{{url_for('newBook')}}' class="active">Add New Book</a></li>
			<li><a href="{{url_for('forumList')}}">Forums</a></li>
			<li><a href="{{url_for('userPage', user_id = user.id)}}">{{user.name}}</a></li>
		</ul>
		<h1>New Book</h1>

		<form action='{{ url_for('newBook')}}' method='post'>

			<p>Title:</p>
			<input type="text" size="100" name="title">
			<br>
			<p>Author:</p>
			<input type="text" size="100" name="author">
			<br>
			<p>Subject:</p>
			<input type="text" size="100" name="subject">
			<br>
			<p>Summary</p>
			<input type="text" size="100" name="summary">
			<p>Picture URL: </p>
			<input type="text" size="100" name="picture">
			<br>

			<input type="submit" value="Add">
			<a href="{{url_for('bookList')}}">Cancel</a>
		</form>
	</body>
	</html>
