<!DOCTYPE html>
<html>
<head>
	<title>Create New User</title>
	<link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
	<h1>New user</h1>

	<form action='{{url_for('newUser')}}' method = 'post'>
		<p>Email: <input type="email" name="email">
		<br>
		Password: <input type="password" name="password">
		<br>
		Confirm Password: <input type="password" name="passwordConfirm">
		<br>
		Username: <input type="text" name="username">
		<br>
		Picture URL: <input type="text" name="picture">
		(This needs to be a url for the picture you would like to be your profile picture.)

		</p>
		<input type="submit" name="create" value="Create">
		<a href="{{url_for('bookList')}}">Cancel</a>

	</form>

</body>

</html>