<!DOCTYPE html>
<html>
<head>
	<title>Create New User</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
	<h1>New user</h1>

	<form action='{{url_for('newUser')}}' method = 'post'>
		<p>Email: <input type="email" name="email">
		<br>
		Password: <input type="password" name="password">
		<br>
		Confirm Password: <input type="password" name="passwordConfirm">
		<br>
		Username: <input type="text" name="Username">
		<br>
		Picture: <input type="file" name="picture" id="pictureFile">
		<button type="button" id = "buttonReset" onclick="resetFile($('#pictureFile'))">Clear Picture</button>

		</p>
		<input type="submit" name="create" value="Create">

	</form>
<script src="../static/clearImage.js" type="text/javascript "></script>
<!--
<script>
$(function(){
      
window.resetFile = function (e) {
    e.wrap('<form>').closest('form').get(0).reset();
    e.unwrap();
}

    });
</script>
-->
</body>

</html>