<!DOCTYPE html>
<html>
<head>
	<title>User Profile Page</title>
	<link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
	<form action="" method="post" enctype="multipart/form-data"></form>
	<ul>
		<li><a href="{{url_for('bookList')}}">Home</a></li>
		<li><a href = '{{url_for('newBook')}}'>Add New Book</a></li>
		<li><a href="{{url_for('forumList')}}">Forums</a></li>
		<li><a class="active" href="{{url_for('userPage', user_id = user.id)}}">{{user.name}}</a></li>
	</ul>
	<h1>{{user.name}}</h1>
	<a href="{{url_for('disconnect')}}">Log Out</a>
	<br>
	<p>Email: {{user.email}}
	<br>
		<object data="{{user.picture}}" style="width:150px;height:150px;" >
		<img src="{{user.picture}}" style="width:150px;height:150px;" alt = "Profile picture" >
	</object>
	<br>
	<a href='{{url_for('editUser', user_id = user.id) }}'>Edit User</a>
	<br>
	
	<h4>Books Added:</h4>
	{% for book in books %}
	{% if book.user_id == user.id %}
	<a href='{{url_for('bookInformation', book_id = book.id)}}'>{{book.title}}</a>
	<br>
	{% endif %}
	{% endfor %}
	<br>
	<br>
	<h4>Forums Created:</h4>
	{% for forum in forums %}
	{% if forum.user_id == user.id %}
	<a href='{{url_for('forum', forum_id = forum.id) }}'</a>{{forum.title}}
	<br>
	{% endif %}
	{% endfor %}
	</p>
</body>
</html>
