<!DOCTYPE html>
<html>
<head>
	<title>User Profile Page</title>
	<link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
	<form action="" method="post" enctype="multipart/form-data">
		
	</form>
	<h1>{{user.name}}</h1>
	<a href="{{url_for('disconnect')}}">Log Out</a>
	<br>
	<br>
	<a href="{{url_for('bookList')}}">Book List</a>
	<br>
	<p>Email: {{user.email}}
	<br>
		<object data="{{user.picture}}" style="width:150px;height:150px;" >
		<img src="{{user.picture}}" style="width:150px;height:150px;" alt = "Profile picture" >
	</object>
	<br>
	<a href='{{url_for('editUser', user_id = user.id) }}'>Edit User</a>
	<br>
	
	<h4>Books Added:</h4>
	{% for book in books %}
	{% if book.user_id == user.id %}
	<a href='{{url_for('bookInformation', book_id = book.id) }}'</a>{{book.title}}
	{% endif %}
	{% endfor %}
	</p>
</body>
</html>
